In [44]:
''' Peform Following task using PYTHON Script. If any problem communicate with other student using discussion board of "Week 6 Assignment".

1. Create a result table which contain student id, student name and 5 subject marks. 

2. Enter 10 studnet details with its marks.

3. Dump table into csv file "result.csv".

4. Read result.csv file and Print Total Marks and Grade of each student. Also Append Total Marks and Grade column into result.csv file.

5. List out Top 3 Student id and name with its percentage.'''

' Peform Following task using PYTHON Script. If any problem communicate with other student using discussion board of "Week 6 Assignment".\n\n1. Create a result table which contain student id, student name and 5 subject marks. \n\n2. Enter 10 studnet details with its marks.\n\n3. Dump table into csv file "result.csv".\n\n4. Read result.csv file and Print Total Marks and Grade of each student. Also Append Total Marks and Grade column into result.csv file.\n\n5. List out Top 3 Student id and name with its percentage.'

### creating table

In [45]:
import sqlite3 as sq
import csv

In [46]:
conn=sq.connect("c://sqlite3//student.db")

In [47]:
cur=conn.cursor()

In [48]:
cur.execute(" " "create table if not exists result(sid int primary key,sname text, sub_1 int,sub_2 int,sub_3 int,sub_4 int,sub_5 int)""")

### inserting record

In [49]:
'''put="insert into result values(?,?,?,?,?,?,?)"
record=[]
for i in range(2):
    no=int(input("Enter student id:"))
    sn=input("Enter student name:")
    sub1=int(input("Enter subject 1 marks:"))
    sub2=int(input("Enter subject 2 marks:"))
    sub3=int(input("Enter subject 3 marks:"))
    sub4=int(input("Enter subject 4 marks:"))
    sub5=int(input("Enter subject 5 marks:"))
    li=[no,sn,sub1,sub2,sub3,sub4,sub5]
    record.append(li)
    cur.executemany(put,record)'''

'put="insert into result values(?,?,?,?,?,?,?)"\nrecord=[]\nfor i in range(2):\n    no=int(input("Enter student id:"))\n    sn=input("Enter student name:")\n    sub1=int(input("Enter subject 1 marks:"))\n    sub2=int(input("Enter subject 2 marks:"))\n    sub3=int(input("Enter subject 3 marks:"))\n    sub4=int(input("Enter subject 4 marks:"))\n    sub5=int(input("Enter subject 5 marks:"))\n    li=[no,sn,sub1,sub2,sub3,sub4,sub5]\n    record.append(li)\n    cur.executemany(put,record)'

### Dump table into csv file

In [53]:
cur.execute('select * from result;')
r=cur.fetchall()
conn.commit()
h=['sid','sname','sub_1','sub_2','sub_3','sub_4','sub_5']
with open("c:\\sqlite3\\csv\\result.csv","w",newline='') as csvfile:
    writer=csv.writer(csvfile)
    writer.writerow(h)
    writer.writerows(r)

### add total mark percentage and grade

In [54]:
i=0
add=[]
with open("c:\\sqlite3\\csv\\result.csv","r") as csvfile:
    reader = csv.reader(csvfile)
    header=next(reader)
    for row in reader:
        i=i+1
        print("Record:",i)
        print("id:",row[0])
        print("name:",row[1])
        print("sub_1:",row[2])
        print("sub_2:",row[3])
        print("sub_3:",row[4])
        print("sub_4:",row[5])
        print("sub_5:",row[6])
        row.append(int(row[2])+int(row[3])+int(row[4])+int(row[5])+int(row[6]))
        row.append(row[7]/5)
        print("Total marks:",row[7])
        print("percentage:",row[8])
        if row[8]>80:
                row.append('Distinction')
        elif row[8]>65 and records[8]<=80:
                row.append('First Class')
        elif row[8]>50 and records[8]<=65:
                row.append('Second Class')
        elif row[8]>35 and records[8]<=50:
                row.append('Pass')
        else:
                row.append('Fail')
        print("grade:",row[9])
        add.append(row)
with open("c:\\sqlite3\\csv\\result.csv","w") as f1:
    write=csv.writer(f1)
    h.extend(('total','percentage','grade'))
    write.writerow(h)
    write.writerows(add)

Record: 1
id: 1
name: margi
sub_1: 90
sub_2: 98
sub_3: 89
sub_4: 75
sub_5: 96
Total marks: 448
percentage: 89.6
grade: Distinction
Record: 2
id: 2
name: kunj
sub_1: 86
sub_2: 89
sub_3: 95
sub_4: 85
sub_5: 86
Total marks: 441
percentage: 88.2
grade: Distinction
Record: 3
id: 3
name: dev
sub_1: 89
sub_2: 82
sub_3: 85
sub_4: 75
sub_5: 95
Total marks: 426
percentage: 85.2
grade: Distinction
Record: 4
id: 4
name: vibhuti
sub_1: 89
sub_2: 85
sub_3: 73
sub_4: 84
sub_5: 81
Total marks: 412
percentage: 82.4
grade: Distinction
Record: 5
id: 101
name: om
sub_1: 90
sub_2: 89
sub_3: 92
sub_4: 85
sub_5: 87
Total marks: 443
percentage: 88.6
grade: Distinction

### printing top 3 records

In [55]:
with open("c:\\sqlite3\\csv\\result.csv","r") as csvfile:
        read_obj=csv.reader(csvfile)
        read=list(read_obj)
        i=0
        L=[]
        for row in read:
            L.append(row[8])  
        L.pop(0)
        L.sort(reverse=True)     
        for per in L[:3]:        
            for list in read :
                if per in list:       
                    i=i+1
                    print("Top:",i)
                    print("ID:",list[0])
                    print("Name:",list[1])
                    print("Total:",list[7])
                    print("Percentage:",list[8])

IndexError: list index out of range